In [1]:
from sklearn.datasets import load_wine

In [2]:
#run all cells ctrl+Enter

In [3]:
X_df, y_df = load_wine(return_X_y = True, as_frame = True)

In [70]:
type(X_df)

pandas.core.frame.DataFrame

In [5]:
X_df.shape

(178, 13)

In [71]:
y_df

0      0
1      0
2      0
3      0
4      0
      ..
173    2
174    2
175    2
176    2
177    2
Name: target, Length: 178, dtype: int32

In [65]:
X_df.describe()

,alcohol,malic_acid,ash,alcalinity_of_ash,magnesium,total_phenols,flavanoids,nonflavanoid_phenols,proanthocyanins,color_intensity,hue,od280/od315_of_diluted_wines,proline
count,178.000000,178.000000,178.000000,178.000000,178.000000,178.000000,178.000000,178.000000,178.000000,178.000000,178.000000,178.000000,178.000000
mean,13.000618,2.336348,2.366517,19.494944,99.741573,2.295112,2.029270,0.361854,1.590899,5.058090,0.957449,2.611685,746.893258
std,0.811827,1.117146,0.274344,3.339564,14.282484,0.625851,0.998859,0.124453,0.572359,2.318286,0.228572,0.709990,314.907474
min,11.030000,0.740000,1.360000,10.600000,70.000000,0.980000,0.340000,0.130000,0.410000,1.280000,0.480000,1.270000,278.000000
25%,12.362500,1.602500,2.210000,17.200000,88.000000,1.742500,1.205000,0.270000,1.250000,3.220000,0.782500,1.937500,500.500000
50%,13.050000,1.865000,2.360000,19.500000,98.000000,2.355000,2.135000,0.340000,1.555000,4.690000,0.965000,2.780000,673.500000
75%,13.677500,3.082500,2.557500,21.500000,107.000000,2.800000,2.875000,0.437500,1.950000,6.200000,1.120000,3.170000,985.000000
max,14.830000,5.800000,3.230000,30.000000,162.000000,3.880000,5.080000,0.660000,3.580000,13.000000,1.710000,4.000000,1680.000000

In [8]:
import pandas as pd

In [9]:
from sklearn.model_selection import train_test_split

In [53]:
X_train, X_test, y_train, y_test = train_test_split(X_df.values, y_df.values, test_size=0.25)

AttributeError: 'numpy.ndarray' object has no attribute 'columns'

In [57]:
train_dataset = [X_train,y_train]

In [58]:
td=train_dataset

In [59]:
df_dict={}

In [60]:
for i in range(20):
    df_dict['df{}'.format(i)] = td.sample(frac=0.6, random_state=123)

AttributeError: 'list' object has no attribute 'sample'

In [61]:
import random

In [16]:
import sklearn.linear_model as lm

In [17]:
sample = pd.DataFrame.from_dict(df_dict.get('df0'))

In [18]:
sample

,alcohol,malic_acid,ash,alcalinity_of_ash,magnesium,total_phenols,flavanoids,nonflavanoid_phenols,proanthocyanins,color_intensity,hue,od280/od315_of_diluted_wines,proline,0
149,13.08,3.90,2.36,21.5,113.0,1.41,1.39,0.34,1.14,9.40,0.57,1.33,550.0,NaN
61,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
89,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
70,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
40,13.56,1.71,2.31,16.2,117.0,3.15,3.29,0.34,2.34,6.13,0.95,3.38,795.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
158,14.34,1.68,2.70,25.0,98.0,2.80,1.31,0.53,2.70,13.00,0.57,1.96,660.0,NaN
52,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
159,13.48,1.67,2.64,22.5,89.0,2.60,1.10,0.52,2.29,11.75,0.57,1.78,620.0,NaN
155,13.17,5.19,2.32,22.0,93.0,1.74,0.63,0.61,1.55,7.90,0.60,1.48,725.0,NaN
26,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0

In [19]:
X = sample.iloc[:,12]

In [20]:
Y = sample.iloc[:,[0,1,2,3,4,5,6,7,8,9,10,11,12,13]]

In [21]:
X

149    550.000000
61     722.611111
89     722.611111
70     722.611111
40     795.000000
          ...
158    660.000000
52     722.611111
159    620.000000
155    725.000000
26     722.611111
Name: proline, Length: 160, dtype: float64

In [35]:
Y.fillna(Y.mean())

,alcohol,malic_acid,ash,alcalinity_of_ash,magnesium,total_phenols,flavanoids,nonflavanoid_phenols,proanthocyanins,color_intensity,hue,od280/od315_of_diluted_wines,proline,0
149,13.08,3.900000,2.360000,21.500000,113.000000,1.410000,1.390000,0.340000,1.140000,9.400000,0.570000,1.330000,550.000000,0.988636
61,12.98,2.295139,2.346944,19.738889,97.513889,2.181528,1.882639,0.358889,1.543472,5.515417,0.929111,2.530694,722.611111,1.000000
89,12.98,2.295139,2.346944,19.738889,97.513889,2.181528,1.882639,0.358889,1.543472,5.515417,0.929111,2.530694,722.611111,1.000000
70,12.98,2.295139,2.346944,19.738889,97.513889,2.181528,1.882639,0.358889,1.543472,5.515417,0.929111,2.530694,722.611111,1.000000
40,13.56,1.710000,2.310000,16.200000,117.000000,3.150000,3.290000,0.340000,2.340000,6.130000,0.950000,3.380000,795.000000,0.988636
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
158,14.34,1.680000,2.700000,25.000000,98.000000,2.800000,1.310000,0.530000,2.700000,13.000000,0.570000,1.960000,660.000000,0.988636
52,12.98,2.295139,2.346944,19.738889,97.513889,2.181528,1.882639,0.358889,1.543472,5.515417,0.929111,2.530694,722.611111,0.000000
159,13.48,1.670000,2.640000,22.500000,89.000000,2.600000,1.100000,0.520000,2.290000,11.750000,0.570000,1.780000,620.000000,0.988636
155,13.17,5.190000,2.320000,22.000000,93.000000,1.740000,0.630000,0.610000,1.550000,7.900000,0.600000,1.480000,725.000000,0.988636
26,12.98,2.295139,2.346944,19.738889,97.513889,2.181528,1.882639,0.358889,1.543472,5.515417,0.929111,2.530694,722.611111,0.000000

In [33]:
clf = LogisticRegression(penalty='l2', 
                          C=0.001,
                          random_state=1).fit(X.values,Y.values)

array([[ 550.],
       [  nan],
       [  nan],
       [  nan],
       [ 795.],
       [  nan],
       [  nan],
       [1060.],
       [ 560.],
       [  nan],
       [  nan],
       [ 685.],
       [  nan],
       [  nan],
       [ 312.],
       [ 695.],
       [ 564.],
       [  nan],
       [ 380.],
       [  nan],
       [ 680.],
       [  nan],
       [  nan],
       [  nan],
       [  nan],
       [  nan],
       [  nan],
       [  nan],
       [  nan],
       [ 770.],
       [ 450.],
       [  nan],
       [  nan],
       [1120.],
       [  nan],
       [ 660.],
       [  nan],
       [  nan],
       [ 520.],
       [1260.],
       [  nan],
       [ 640.],
       [  nan],
       [  nan],
       [  nan],
       [ 855.],
       [ 625.],
       [ 885.],
       [  nan],
       [  nan],
       [1095.],
       [ 870.],
       [  nan],
       [ 985.],
       [  nan],
       [  nan],
       [ 434.],
       [ 672.],
       [  nan],
       [ 495.],
       [  nan],
       [  nan],
       [ 615.],
       [ 278.],
       [  nan],
       [  nan],
       [ 650.],
       [  nan],
       [ 750.],
       [1045.],
       [ 840.],
       [1020.],
       [ 678.],
       [ 600.],
       [  nan],
       [ 420.],
       [  nan],
       [ 630.],
       [  nan],
       [ 680.],
       [ 470.],
       [  nan],
       [  nan],
       [  nan],
       [  nan],
       [  nan],
       [ 845.],
       [  nan],
       [  nan],
       [ 472.],
       [  nan],
       [  nan],
       [  nan],
       [  nan],
       [  nan],
       [  nan],
       [ 450.],
       [  nan],
       [ 718.],
       [  nan],
       [1195.],
       [  nan],
       [  nan],
       [  nan],
       [  nan],
       [  nan],
       [ 488.],
       [  nan],
       [  nan],
       [  nan],
       [  nan],
       [ 510.],
       [ 410.],
       [  nan],
       [  nan],
       [  nan],
       [ 630.],
       [  nan],
       [  nan],
       [1185.],
       [1295.],
       [ 392.],
       [  nan],
       [ 720.],
       [ 886.],
       [1270.],
       [ 780.],
       [  nan],
       [ 385.],
       [  nan],
       [ 845.],
       [  nan],
       [  nan],
       [ 695.],
       [ 515.],
       [ 607.],
       [  nan],
       [  nan],
       [  nan],
       [ 920.],
       [ 520.],
       [ 530.],
       [ 680.],
       [  nan],
       [1515.],
       [  nan],
       [  nan],
       [ 562.],
       [  nan],
       [1150.],
       [  nan],
       [  nan],
       [ 510.],
       [  nan],
       [1050.],
       [ 660.],
       [  nan],
       [ 620.],
       [ 725.],
       [  nan]])

D:\Users\bsosn\anaconda3\envs\tst\lib\site-packages\sklearn\utils\validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

ValueError: Found input variables with inconsistent numbers of samples: [160, 2240]

In [62]:
def btstrap(a_data_frame):
    btstr_data = pd.DataFrame(columns=a_data_frame.columns)
    for a_data in range(a_data_frame.shape[0]):
        selected_num = random.choice(range(a_data_frame.shape[0]))
        btstr_data = btstr_data.append(a_data_frame[selected_num : selected_num + 1])
    return btstr_data

In [63]:
dd = btstrap(load_vine)

NameError: name 'load_vine' is not defined